header {
	background-color: #333333;
	margin: 0px 0px 30px 0px;
	padding: 20px;
}

body {
	background-color: #efeee7;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #333333;
	margin: 0;
	padding: 0;
	line-height: 150%;
	font-size: 18px
}

h1 {
	color: #eee;
	font-size: 28px;
	margin: 0;
	text-align: center;
}

h2 {
	font-size: 24px;

}

/*Made position relative to place bio-quote*/
.container {
	position: relative;
	margin: 0 auto;
	width: 1024px;
}

#main-bio {
	float: left;
	width: 70%;
}

#contact-info {
	float: left;
	width: 30%;
}

#bio-image {
	float: left;
	width: 200px;
	margin-right: 20px;
	margin-bottom: 200px;
	
}

#bio-quote {
	text-align: center;
	width: 200px;
	margin: auto;
	bottom: -300px;
	position: absolute;
	font-size: 10px;
	font-style: italic;
}